body {
    margin: 0;
    height: 100%;
    font-size: 18px;
}

.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

$R-block: '.result-block';
$S-block: '.summary-block';

#{$R-block} {
    width: 50%;
    background-color:  hsl(252, 100%, 67%);
}