body {
    margin: 0 auto;
    max-width: 1280px;
    padding: 100px 36px 0;
}


#titel {
    text-align: left;
    font: normal normal bold 48px/55px Arial;
    letter-spacing: 0px;
    color: #444444;
    margin-bottom: 48px;
}

.news-blocks {
    display: flex;
    gap: 30px;
}

.news-block {
    text-decoration: none;
}

.news-blocks .news-block--1 {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    position: relative;
}

.news-blocks .news-block--2 {
    flex-grow: 1;
    gap: 20px;
}

.news-blocks .news-block__img {
    max-width: 100%;
    position: relative;
    transition: opacity 200ms ease-in-out;
}

.news-blocks .news-block--2 img {
    width: 500vh;
}

.news-blocks .news-block--1 .news-block__txt {
    margin: 0px;
    bottom: 30px;
    left: 20px;
    text-align: left;
    font: normal normal bold 24px/28px Arial;
    letter-spacing: 0px;
    color: #F6F6F6;
    position: absolute;
}

.news-block__titel {
    text-align: left;
    font: normal normal bold 16px/18px Arial;
    letter-spacing: 0px;
    color: #444444;
}

.news-blocks .news-block--2 .news-block__txt {
    text-align: left;
    font: normal normal normal 16px/18px Arial;
    letter-spacing: 0px;
    color: #444444;
}

.news-blocks .news-block:hover .news-block__img {
    opacity: 0.85;
  }

@media (max-width:525px){
    .news-blocks {
        display: flex;
        flex-direction: column;
    }
    .news-blocks .news-block--1 .news-block__txt {
        font: normal normal bold 18px/20px Arial;
    }

    .news-blocks .news-block--1{
        gap: 0;
    }
}